.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding-bottom: 32px;
}

.header-logo {
    flex: 1 auto;
    margin: 16px;
    font-size: 24px;
    align-items: center;
    padding-left: 64px;
    color: #F9FAF8
}

.links {
    display: flex;
    flex: 1 auto;
    justify-content: flex-end;
    margin: 16px;
    gap: 16px;
    padding-right: 64px;
}

.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1F2937;
    padding-bottom: 48px;
}

.left-title {
    padding-left: 80px;
    justify-content: space-between;
}

.title-heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.title-paragraph {
    color: #E5E7EB;
    font-size: 18px;
}

.title-button {
    border-radius: 14px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.image {
    padding-right: 80px;
    flex-shrink: 0;
}

.main-text {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding: 32px;
}

.main-container{
    display: flex;
    padding: 32px;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 72px;
}

.info{
    font-weight: normal;
    font-size: 18px;
}

.quote {
    background: #E5E7EB;
    text-align: center;
    padding-left: 64px;
    padding-right: 64px;
    color; #1F2937
}

.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: bolder;
    color: #1f2937;
}