.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
}

.header-logo {
    flex: 1 auto;
    margin: 16px;
    font-size: 24px;
    align-items: center;
    padding-left: 64px;
    color: #F9FAF8
}

.links {
    display: flex;
    flex: 1 auto;
    justify-content: flex-end;
    margin: 16px;
    gap: 16px;
    padding-right: 64px;
}

.header-link {
    font-size: 18px;
    text-decoration: none;
    color: #E5E7EB
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #1F2937;
}

.left-title {
    padding-left: 80px;
    justify-content: space-between;
}

.title-heading {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.title-paragraph {
    color: #E5E7EB;
    font-size: 18px;
}

.title-button {
    border-radius: 14px;
    background-color: #3882F6;
    color: #E5E7EB;
}

.image {
    padding-right: 80px;
    flex-shrink: 0;
}